parameters:
    level: max
    paths:
        - vendor/wedevelopnl/silverstripe-elemental-grid/src
    type_coverage:
        return_type: 100
        param_type: 100
        property_type: 100
        constant_type: 100
        declare: 100
