parameters:
    level: max
    paths:
        - /module/src
    stubFiles:
        - /module/phpstan/stubs/AdminController.stub
    type_coverage:
        return_type: 100
        param_type: 100
        property_type: 100
        constant_type: 100
        declare: 100
