/* ROW FIX */
tbody.row {
    margin: 0;
    padding: 10px;
}

/* COL STYLING */
tbody.row tr {
    outline: 1px solid #ced3d9;
    margin-top: 0;
    margin-bottom: 20px;
}

tbody.row tr td {
    white-space: nowrap;
}

/* STYLE TOOLBAR */
.col-offsetfield,
.col-sizefield {
    width: 49%;
    display: inline-block;
    padding: 10px 0 !important;
    border-bottom: none !important;
}
.col-sizefield {
    margin-right: 1%;
}
.col-offsetfield {
    margin-left: 1%;
}
.col-BlockType {
    display: none;
}
.grideditor-field-label {
    font-style: italic;
}
.col-EditorPreview {
    width: 100%;
}
.col-EditorPreview .elemental-preview__detail p {
    display: none;
}
.col-EditorPreview .elemental-preview__detail h3 small {
    display: block;
}

/*FULL WIDTH COLUMNS*/
tr.block-type-full-width {
    background: #f0f4f7 !important;
}
tr.block-type-full-width th,
tr.block-type-full-width td {
    border-bottom: none!important;
}

tr.block-type-full-width .col-offsetfield,
tr.block-type-full-width .col-sizefield {
    display: none;
}

tr.block-type-full-width .elemental-preview__detail h3,
tr.block-type-full-width .elemental-preview__detail p {
    display: inline-block;
}

tr.block-type-full-width .elemental-preview__detail p {
    font-style: italic;
}

/*BOOTSTRAP OFFSET*/
.offset-md-0 {
    margin-left: 0;
}

.offset-md-1 {
    margin-left: 8.333333%;
}

.offset-md-2 {
    margin-left: 16.666667%;
}

.offset-md-3 {
    margin-left: 25%;
}

.offset-md-4 {
    margin-left: 33.333333%;
}

.offset-md-5 {
    margin-left: 41.666667%;
}

.offset-md-6 {
    margin-left: 50%;
}

.offset-md-7 {
    margin-left: 58.333333%;
}

.offset-md-8 {
    margin-left: 66.666667%;
}

.offset-md-9 {
    margin-left: 75%;
}

.offset-md-10 {
    margin-left: 83.333333%;
}

.offset-md-11 {
    margin-left: 91.666667%;
}
