// Core variables
@import "variables";

.element-editor__element {
  border: 0;
  min-height: 4rem;
  outline: 1px solid $border-color-light;
  transition: all 100ms linear;

  &--expanded {
    flex: 0 0 100%;
    margin: 0;
    max-width: 100%;
  }

  &--dragging {
    opacity: 0;
    overflow: hidden;
    transform: scale(0.8);
  }

  &.is-row {
    -webkit-flex: none;
    background: $body-bg-dark;
    display: block;
    flex: none;
    max-width: none;
    padding: 1.5rem 1.5385rem;
    width: 100%;

    .element-editor-summary {
      display: none;
    }
  }
}

.element-editor__hover-bar {
  display: none;
}

.is-dragged-top,
.is-dragged-bottom {
  position: relative;

  &::after {
    align-items: center;
    background-color: rgba(0, 113, 196, 0.2);
    border: 3px dashed rgba(0, 63, 109, 0.25);
    bottom: 0;
    color: rgb(0, 113, 196);
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    justify-content: center;
    padding: 1rem;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50%;
  }
}

.is-dragged-top {
  &::after {
    content: 'Drop here to place left';
    left: 0;
  }

  &.is-row {
    &::after {
      bottom: 50%;
      content: 'Drop here to place above';
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
    }
  }
}

.is-dragged-bottom {
  &::after {
    content: 'Drop here to place right';
    right: 0;
  }

  &.is-row {
    &::after {
      bottom: 0;
      content: 'Drop here to place below';
      left: 0;
      right: 0;
      top: 50%;
      width: 100%;
    }
  }
}
