// Core variables
@import "variables";

.element-editor__element {
  outline: 1px solid $border-color-light;
  border: 0;
  min-height: 4rem;
  transition: all 100ms linear;

  &--dragging {
    transform: scale(0.8);
    overflow: hidden;
    opacity: 0;
  }

  &.is-row {
    display: block;
    width: 100%;
    max-width: none;
    -webkit-flex: none;
    flex: none;
    background: $body-bg-dark;
    padding: 1.5rem 1.5385rem;

    .element-editor-summary {
      display: none;
    }
  }
}

.element-editor__hover-bar {
  display: none;
}

.is-dragged-top,
.is-dragged-bottom {
  position: relative;

  &::after {
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: rgba(0, 113, 196, 0.2);
    border: 3px dashed rgba(0, 63, 109, 0.25);
    font-size: 1.5em;
    color: rgb(0, 113, 196);
  }
}

.is-dragged-top {
  &::after {
    content: 'Drop here to place left';
    left: 0;
  }

  &.is-row {
    &::after {
      content: 'Drop here to place above';
      top: 0;
      bottom: 50%;
      left: 0;
      width: 100%;
      right: 0;
    }
  }
}

.is-dragged-bottom {
  &::after {
    content: 'Drop here to place right';
    right: 0;
  }

  &.is-row {
    &::after {
      width: 100%;
      content: 'Drop here to place below';
      top: 50%;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
